<h2 class="sub-header">站点</h2>
<div>

  {% if is_admin%}
  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addSite">
    新增站点
  </button>
  <form method="POST"  action="{%url 'search'%}" id="J_Search_form" class="form-inline pull-right">
    <div class="form-group">
      <select class="form-control" name="site_id">
      {%for w in sites%}
      <option value="{{w.id}}">{{w.name}}</option>
      {%endfor%}
      </select>
      </div>
      <div class="form-group">
      <input type="text" name="pid" placeholder="请输入pid" class="form-control">
      </div>
      <button class="btn btn-success J_Button_Search" id="J_Search_Button" type="submit">search</button>
  </form>
  {% endif %}
  
</div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>站点名称</th>
          <th>IP</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {% for w in sites %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{w.name}}</td>
          <td> {{w.ip}}</td>
          <td><a href="{%url 'delete_site' pk=w.id %}">{%if is_admin %}删除{%endif%}</a></td>
        </tr>
        {% empty %}
        {% endfor %}
      </tbody>
    </table>
  </div>

<!-- ADD Modal -->
  <div class="modal fade" id="addSite" tabindex="-1" role="dialog" aria-labelledby="addSite" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="addSite">新增站点</h4>
          </div>
          <form method="post" action="{% url 'add_site'%}">
          <div class="modal-body">
              {% csrf_token %}
              <div class="form-group">
              <label>站点名称</label>
              <input class='form-control' placeholder='输入站点名称' name="name" type="text">
              </div>
              <div class="form-group">
              <label>IP</label>
              <input class='form-control' placeholder='输入站点IP' name="ip" type="text">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
          </form>

        </div>
      </div>
    </div>


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="J_Search_Model">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" id="J_Search_Model_Content" style="width:800px">
      ...
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $frm = $("#J_Search_form")
  $frm.submit(function () {
      event.preventDefault();
      $.ajax(
        {
            url: $frm.attr('action'),
            type: "post",
            data: $frm.serialize(),
            success:function(data) {
                $('#J_Search_Model_Content').html(data)
                $('#J_Search_Model').modal('toggle')
            }
          })
    });
});
</script>