<h2 class="sub-header">站点</h2>
<div>

  {% if is_admin%}
  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addSite">
    新增站点
  </button>
  {% endif %}
  
</div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>站点名称</th>
          <th>IP</th>
          <th>操作</th>
          <th>pid查询</th>
        </tr>
      </thead>
      <tbody>
        {% for w in sites %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{w.name}}</td>
          <td> {{w.ip}}</td>
          <td><a href="{%url 'delete_site' pk=w.id %}">{%if is_admin %}删除{%endif%}</a></td>
          <td>
            <form action="{%url 'search'%}" method="POST" id="J_Form_Search">
                <input class="text hidden" name="site_id" value="{{w.id}}">
                <input type="text" name="pid">
                <button class="btn btn-success btn-sm" id="J_Search" type="submit">search</button>
            </form>
          </td>
        </tr>
        {% empty %}
        {% endfor %}
      </tbody>
    </table>
  </div>

<!-- ADD Modal -->
  <div class="modal fade" id="addSite" tabindex="-1" role="dialog" aria-labelledby="addSite" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="addSite">新增站点</h4>
          </div>
          <form method="post" action="{% url 'add_site'%}">
          <div class="modal-body">
              {% csrf_token %}
              <div class="form-group">
              <label>站点名称</label>
              <input class='form-control' placeholder='输入站点名称' name="name" type="text">
              </div>
              <div class="form-group">
              <label>IP</label>
              <input class='form-control' placeholder='输入站点IP' name="ip" type="text">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
          </form>

        </div>
      </div>
    </div>


<div class="modal fade modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="J_Search_Model">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" id="J_Search_Model_Content">
      ...
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  var frm = $("#J_Form_Search")
  var btn = $("#J_Search")
  frm.submit(function () {
    event.preventDefault();
    btn.button('loading')
    $.ajax(
      {
          url: frm.attr('action'),
          type: "post",
          data: frm.serialize(),
          success:function(data) {
              $('#J_Search_Model_Content').html(data)
              $('#J_Search_Model').modal('toggle')
              btn.button('reset')
          }
        })
  });});
</script>