<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>煎茶</title>
    <link href="{{STATIC_URL}}bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}bootstrap/dist/css/dashboard.css" rel="stylesheet">
    {{css_set}}
    <script src="{{STATIC_URL}}jquery/jquery.js"></script>
    <script src="{{STATIC_URL}}bootstrap/dist/js/bootstrap.js"></script>
    <script src="{{STATIC_URL}}tornado_sse/jquery.eventsource.js"></script>
    <script src="{{STATIC_URL}}tornado_sse/sse.js"></script>
    <audio id="chatAudio">
    <source src="{{STATIC_URL}}audio/notify.wav" type="audio/wav"> 
    </audio>
</head>

<body sse-data="/sse/">
    <!-- 固定头 -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">煎茶</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">所属团队：{{TEAM}}</a></li>
                <li><a href="#">当前用户：{{USER_NAME}}</a></li>
                <li><a href="{%url 'change_pw'%}">修改密码</a></li>
                <li><a href="{%url 'logoff'%}">退出</a></li>
              </ul>
            </div>
          </div>
        </div>
    <div class="container-fluid">
          <div class="row">
                <!-- 边栏 -->
                <div class="col-sm-3 col-md-2 sidebar">
                  <ul class="nav nav-sidebar">
                    <li class={{home_active}}><a href="{{CONTEXT_PATH}}/">Overview</a></li>
                    <li class={{words_active}}><a href="{{CONTEXT_PATH}}/words">关键词</a></li>
                    <li class={{records_active}}><a href="{%url 'records' %}">记录</a></li>
                    <li class={{admin_active}}><a href="{%url 'admin'%}">用户管理</a></li>
                    <li class={{track_active}}><a href="{%url 'pageview'%}">访问记录</a></li>
                    <li class={{ac_active}}><a href="{%url 'ac_record'%}">操作记录</a></li>
                    <li class={{ip_control_active}}><a href="{%url 'whitelist'%}">白名单</a></li>
                    <li class={{sites_active}}><a href="{%url 'sites'%}">监听站点</a></li>
                    <li class={{contacts_active}}><a href="{%url 'contacts'%}">联系人</a></li>
                  </ul>
                </div>
                <!-- 主要内容 -->
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                {{mod_content}}
                </div>  
            </div>
    </div>
    {{js_set}}
    {{foot_mod}}
    </body>
        <script type="text/javascript">
                // for redis 127.0.0.1:6379> PUBLISH all '["message", "{\"type\": \"message\", \"your-structure\": \"Blowjob is better than no job 1\", \"user\": \"tug\"}"]'
                $('body').on('sse.message', function(el, msg){
                    console.log(msg);
                    alert("warning");
                });

                // for redis 127.0.0.1:6379> PUBLISH all '["message", "{\"type\": \"foo\", \"other-structure\": \"Blowjob is better than no job 1\", \"user\": \"bar\"}"]'
                $('body').on('sse.foo', function(el, msg){
                    console.log(msg);
        });

        </script>

</html>
