
        
          <h1 class="page-header">温州市经济技术开发区公安分局</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <h4>{{team_words.count}}</h4>
              <span class="text-muted">关键字</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <h4>{{records.count}}</h4>
              <span class="text-muted">非法帖子</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <h4>{{sites.count}}</h4>
              <span class="text-muted">监控站点</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <h4>{{accounts.count}}</h4>
              <span class="text-muted">管理员</span>
            </div>
          </div>
