<h2 class="sub-header">记录</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>网站名字</th>
          <th>帖子标题</th>
          <th>楼层</th>
          <th>时间</th>
          <th>用户名</th>
          <th>IP和端口</th>
          <th>关键字</th>
          <th>链接地址</th>
        </tr>
      </thead>
      <tbody>
        {% for r in records %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{r.website}}</td>
          <td style="width: 400px">{{r.title}}</td>
          <td>{{r.position|default_if_none:"n/a"}}</td>
          <td>{{r.time|date:"Y-m-d H:i"}}</td>
          <td>{{r.user_name}}</td>
          <td>{{r.ip_and_port}}</td>
          <td><a href="{%url 'word2recod' pk=r.word %}">{{r.word_name}}</a></td>
          <td><a href="{{r.url}}" target="view_window" >打开</a></td>
        </tr>
        {% empty %}
        {% endfor %}
      </tbody>
    </table>
</div>

{{pagination}}

