

<h2 class="sub-header">记录</h2>

  <div class="row " style="margin-bottom: 20px">
      <form class="form " role="search" action="{%url "search_record" %}" method="get">
        <div class="form-group  col-md-2">
          <input type="text" class="form-control" placeholder="Search" name="key">
          <p class="help-block">关键字</p>
        </div>
        <div class="form-group col-md-2">
          <input class="form-control" type="date"  name="begin_time" placeholder="开始时间">
          <p class="help-block">从该日零点起</p>
        </div>
        <div class="form-group col-md-2">
          <input  class="form-control" type="date" name="end_time" placeholder="结束时间">
          <p class="help-block">截止到该日零点</p>
        </div>
        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" name="state" value="1"> 已处理
          </label>
        </div>
        <button type="submit" class="btn btn-default col-md-3"><span class="glyphicon glyphicon-search"></span> Submit</button>
    </form>

  </div>
  <br>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>网站名字</th>
          <th>帖子标题</th>
          <th>楼层</th>
          <th>时间</th>
          <th>用户名</th>
          <th>IP和端口</th>
          <th>关键字</th>
          <th>链接地址</th>
          <th>处理</th>
        </tr>
      </thead>
      <tbody>
        {% for r in records %}
        <tr>
          <td>
              {%if r.state %}
              <span class="glyphicon glyphicon-ok"></span>
              {%else%}
              {%endif%}
          </td>
          <td>{{r.website}}</td>
          <td style="width: 400px">{{r.title}}</td>
          <td>{{r.position|default_if_none:"n/a"}}</td>
          <td>{{r.time|date:"Y-m-d H:i"}}</td>
          <td>{{r.user_name}}</td>
          <td>{{r.ip_and_port}}</td>
          <td><a href="{%url 'word2recod' pk=r.word %}">{{r.word_name}}</a></td>
          <td><a href="{{r.url}}" target="view_window" >打开</a></td>
          <td>
            <form class="form-inline "action="{%url 'update_record_state'%}?next={% url 'records' %}" method="POST">
            {%csrf_token%}
              <div class="form-group">
              <input class="hidden" value="{{r.id}}" name="pk">
              <input class="hidden" value="1" name="state">
              <button class="btn btn-default">处理</button>
              </div>  
            </form>
          </td>
        </tr>
        {% empty %}
        {% endfor %}
      </tbody>
    </table>
</div>

{{pagination}}

